aiosqlite==0.17.0
fastapi==0.75.0
loguru==0.6.0
lz==0.11.1
pydantic==1.9.0
python-dotenv==0.20.0
python-socketio==5.5.2
python-youtube==0.8.2
sqlmodel==0.0.6
uvicorn[standard]==0.17.6
yt-dlp==2022.3.8.2
